<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="com.liferay.ide.eclipse.theme.core.cssBuilder"
		name="%theme.css.builder.name"
		point="org.eclipse.core.resources.builders"
	>
		<builder
			callOnEmptyDelta="false"
			hasNature="false"
		>
			<run
				class="com.liferay.ide.theme.core.ThemeCSSBuilder"
			>
			</run>
		</builder>
	</extension>

	<extension
		point="com.liferay.ide.server.core.pluginPublishers"
	>
		<liferayPluginPublisher
			class="com.liferay.ide.theme.core.ThemePluginPublisher"
			facetId="liferay.theme"
			runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
		>
		</liferayPluginPublisher>
	</extension>
	<extension
		point="org.eclipse.jst.common.project.facet.core.libraryProviders"
	>
		<provider
			id="com.liferay.ide.eclipse.plugin.theme.libraryProvider"
		>
			<label>
			Liferay theme plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.theme"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>
	</extension>

</plugin>