<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="portletFrameworks" name="%portlet.plugin.frameworks.name" schema="schema/portletFrameworks.exsd" />
	<extension-point id="liferayDescriptorHelpers" name="%liferay.descriptor.helpers.name" schema="schema/liferayDescriptorHelpers.exsd" />
	<extension-point id="liferayComponentTemplates" name="%liferay.component.template.name" schema="schema/liferayComponentTemplates.exsd" />
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.project.core.library.LiferayRuntimePropertyTester"
			id="com.liferay.ide.project.core.isLiferayRuntime"
			namespace="com.liferay.ide.project.core"
			properties="isLiferayRuntime"
			type="org.eclipse.jst.common.project.facet.core.libprov.EnablementExpressionContext"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.core.BundleProjectPropertyTester"
			id="com.liferay.ide.project.core.isBundleProject"
			namespace="com.liferay.ide.project.core"
			properties="isBundleProject"
			type="java.lang.Object"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.core.workspace.LiferayWorkspaceProjectPropertyTester"
			id="com.liferay.ide.project.core.isLiferayWorkspaceProject"
			namespace="com.liferay.ide.project.core"
			properties="isLiferayWorkspaceProject"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
	</extension>

	<extension
		id="LiferayProjectMarker"
		name="%liferay.project.problem.name"
		point="org.eclipse.core.resources.markers"
	>
		<super
			type="org.eclipse.core.resources.problemmarker"
		>
		</super>
		<persistent
			value="true"
		>
		</persistent>
	</extension>
	<extension
		point="org.eclipse.wst.server.core.moduleFactories"
	>
		<moduleFactory
			class="com.liferay.ide.project.core.BundleFactoryDelegate"
			id="com.liferay.ide.project.core.bundleFactory"
			projects="true"
		>
			<moduleType
				types="liferay.bundle"
				versions="1.0"
			>
			</moduleType>
			<enablement>
				<or>
					<test property="com.liferay.ide.project.core.isBundleProject" value="true" />
				</or>
			</enablement>
		</moduleFactory>
	</extension>
	<extension
		id="MigrationProblemMarker"
		name="Liferay Migration Problems"
		point="org.eclipse.core.resources.markers"
	>
		<super
			type="org.eclipse.core.resources.problemmarker"
		>
		</super>
		<persistent
			value="true"
		>
		</persistent>
	</extension>
	<extension
		point="com.liferay.ide.project.core.liferayComponentTemplates"
	>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.authenticator.NewLiferayComponentAuthenticatorOperation"
			displayName="Authenticator"
			id="newLiferayComponentAuthenticatorOperation"
			shortName="Authenticator"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.authfailure.NewLiferayComponentAuthFailureOperation"
			displayName="Auth Failures"
			id="newLiferayComponentAuthFailureOperation"
			shortName="AuthFailure"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.authfailure.NewLiferayComponentMaxAuthFailureOperation"
			displayName="Auth Max Failure"
			id="newLiferayComponentMaxAuthFailureOperation"
			shortName="AuthMaxFailure"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.portlet.NewLiferayComponentPortletOperation"
			displayName="Portlet"
			id="newLiferayComponentPortletOperation"
			shortName="Portlet"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.friendlyurl.NewLiferayComponentFriendUrlOperation"
			displayName="Friendly URL Mapper"
			id="newLiferayComponentFriendUrlOperation"
			shortName="FriendlyUrlMapper"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.gogocommand.NewLiferayComponentGogoComandOperation"
			displayName="GOGO Command"
			id="newLiferayComponentGogoComandOperation"
			shortName="GogoCommand"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.indexprocessor.NewLiferayComponentIndexProcessorOperation"
			displayName="Indexer Post Processor"
			id="newLiferayComponentIndexProcessorOperation"
			shortName="IndexerPostProcessor"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.loginpreaction.NewLiferayComponentLoginPreActionOperation"
			displayName="Login Pre Action"
			id="newLiferayComponentLoginPreActionOperation"
			shortName="LoginPreAction"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.pollerprocessor.NewLiferayComponentPollerProcessorOperation"
			displayName="Poller Processor"
			id="newLiferayComponentPollerProcessorOperation"
			shortName="PollerProcessor"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.portletinactioncommand.NewLiferayComponentPortletActionCommandOperation"
			displayName="Portlet Action Command"
			id="newLiferayComponentPortletActionCommandOperation"
			shortName="PortletActionCommand"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.portletfilter.NewLiferayComponentPortletFilterOperation"
			displayName="Portlet Filter"
			id="newLiferayComponentPortletFilterOperation"
			shortName="PortletFilter"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.rest.NewLiferayComponentRestOperation"
			displayName="Rest"
			id="newLiferayComponentRestOperation"
			shortName="RestService"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.servicewrapper.NewLiferayComponentServiceOperation"
			displayName="Service Wrapper"
			id="newLiferayComponentServiceOperation"
			shortName="ServiceHook"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.strutsinaction.NewLiferayComponentStrutsInActionOperation"
			displayName="Struts In Action"
			id="newLiferayComponentStrutsInActionOperation"
			shortName="StrutsAction"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.strutsportletaction.NewLiferayComponentStrutsPortletActionOperation"
			displayName="Struts Portlet Action"
			id="newLiferayComponentStrutsPortletActionOperation"
			shortName="StrutsPortletAction"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.modellistener.NewLiferayComponentModelListenerOperation"
			displayName="Model Listener"
			id="newLiferayComponentModelListenerOperation"
			shortName="ModelListener"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.mvcportlet.NewLiferayComponentMVCPortletOperation"
			displayName="MVC Portlet"
			id="newLiferayComponentMVCPortletOperation"
			shortName="MVCPortlet"
		>
		</liferayComponentTemplate>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.project.core.LiferayWorkspaceProjectHomeDirTester"
			id="com.liferay.ide.project.core.LiferayWorkspaceProjectHomeDir"
			namespace="com.liferay.ide.project.core"
			properties="isLiferayWorkspaceProjectHomeDir"
			type="org.eclipse.core.resources.IFolder"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.ltk.core.refactoring.deleteParticipants"
	>
		<deleteParticipant
			class="com.liferay.ide.project.core.workspace.LiferayWorkspaceProjectDeleteParticipant"
			id="com.liferay.ide.project.core.workspace.liferayWorkspaceProjectDeleteParticipant"
			name="liferayWorkspaceProjectDeleteParticipant"
		>
			<enablement>
				<or>
					<adapt
						type="org.eclipse.core.resources.IProject"
					>
						<test
							property="com.liferay.ide.project.core.isLiferayWorkspaceProject"
						>
						</test>
					</adapt>
					<adapt
						type="org.eclipse.core.resources.IFolder"
					>
						<test
							property="com.liferay.ide.project.core.isLiferayWorkspaceProjectHomeDir"
						>
						</test>
					</adapt>
				</or>
			</enablement>
		</deleteParticipant>
	</extension>
</plugin>