<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="com.liferay.ide.server.websphere.core.WebsphereRuntime"
            description="WebSphere for Liferay 7.x"
            id="com.liferay.ide.eclipse.server.websphere.runtime.v7"
            name="WebSphere for Liferay 7.x"
            vendor="Liferay, Inc."
            version="7">
         <moduleType
               types="jst.web"
               versions="2.3,2.4,2.5,3.0">
         </moduleType>
         <moduleType
               types="jst.utility"
               versions="1.0">
         </moduleType>
         <moduleType
               types="liferay.bundle"
               versions="*">
         </moduleType>         
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="com.liferay.ide.server.websphere.runtime.component">
      </runtime-component-type>
      <runtime-component-version
            type="com.liferay.ide.server.websphere.runtime.component"
            version="7">
      </runtime-component-version>
      <adapter>
         <runtime-component
               id="com.liferay.ide.server.websphere.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.server.websphere.core.WebsphereRuntimeClasspathFactory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
      <supported>
         <runtime-component
               id="com.liferay.ide.server.websphere.runtime.component"
               version="7">
         </runtime-component>
         <facet
               id="jst.web"
               version="2.3,2.4,2.5,3.0">
         </facet>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
         <facet
               id="liferay.portlet"
               version="6.0">
         </facet>
         <facet
               id="liferay.hook"
               version="6.0">
         </facet>
         <facet
               id="liferay.ext"
               version="6.0">
         </facet>
         <facet
               id="liferay.layouttpl"
               version="6.0">
         </facet>
         <facet
               id="liferay.theme"
               version="6.0">
         </facet>
      </supported>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="com.liferay.ide.server.websphere.runtime.component"
            runtimeTypeId="com.liferay.ide.eclipse.server.websphere.runtime.v7"
            version="6">
      </runtimeFacetMapping>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="com.liferay.ide.server.websphere.core.WebsphereServerBehavior"
            class="com.liferay.ide.server.websphere.core.WebsphereServer"
            description="WebSphere Server running Liferay Portal Enterprise Edition"
            hasConfiguration="true"
            id="com.liferay.ide.eclipse.server.websphere.v7"
            launchConfigId="com.liferay.ide.eclipse.server.websphere.v7.launchConfigurationType"
            name="WebSphere Server for Liferay 7.x"
            runtime="true"
            runtimeTypeId="com.liferay.ide.eclipse.server.websphere.runtime.v7"
            startBeforePublish="true"
            initialState="stopped"
            supportsRemoteHosts="true">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.liferay.ide.server.websphere.core.WebsphereLaunchConfigDelegate"
            id="com.liferay.ide.eclipse.server.websphere.v7.launchConfigurationType"
            modes="run,debug"
            name="WebSphere for Liferay 7.x"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
</plugin>
